<header class="pure-menu pure-menu-horizontal">
  <a href="/ng" class="pure-menu-heading pure-menu-link">magazine</a>
  <ul class="pure-menu-list">
    <li class="pure-menu-item"><a href="/ng/articles" class="pure-menu-link">Articles</a></li>
    <li class="pure-menu-item"><a href="/ng/events" class="pure-menu-link">Events</a></li>
    <li class="pure-menu-item"><a href="/ng" class="pure-menu-link">Photos</a></li>
  </ul>
</header>
